<apex:page standardController="Specification__c" extensions="AVPSSpecificationNewButtonController">
    <!-- action="{!ToApproveRecord}" -->
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection >
                <h1>
                    Please Choose a Supplier
                </h1>
                <apex:outputText ></apex:outputText>
                <apex:inputField value="{!specSupplier.Supplier__c}"/>
                <apex:pageBlockSectionItem >
                    <apex:commandButton value="Save" action="{!ToApproveRecord}"/>
                    <apex:commandButton value="Cancel" action="{!cancel}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>