<apex:page standardController="BidGroup__c" sidebar="false" extensions="BidEditController" standardStylesheets="false" tabStyle="BidGroup__c" 
    cache="false" docType="html-5.0">
<style>
.inactiveTab {
    cursor: pointer;
}
</style>
<apex:sectionHeader title="" subtitle="{!$Label.specright__bid_edit_header}"/>  <!-- **Bid Wizard ----- Bid Request Process **-->  
<apex:stylesheet value="{!$Resource.BidEditCSS}" />
<br/>
<Apex:pageMessages escape="false" />
<apex:form >
    <apex:actionFunction name="clearBlob" action="{!clearBlob}" />
</apex:form>
<apex:tabPanel value="{!currentTab}" id="theTabPanel" activeTabClass="activeTab" inactiveTabClass="inactiveTab" switchType="server">
    <apex:tab label="{!$Label.specright__bid_edit_step_1_title}" name="step1" id="tabOne"> <!-- ** Step 1: Select Access Type ** -->
        <apex:form id="theForm">
        <style>
        .bPageBlock .detailList tr td.dataCol 
        {
            border-bottom:0px;
        }
        .bPageBlock .detailList tr th.labelCol {
            border-bottom:0px;
        }
        </style>
        <script type="text/javascript">
            function setRT(rtid) {
                document.getElementById('{!$Component.theForm.recordt}').value = rtid;
                displayflds();
            }
            </script>

            <script type="text/javascript">
            function setenddatedate(int) {
                if(int > 730) {
                    alert('{!$Label.specright__bidedit_interval_limit}');
                }
            }

            function checkotherinterval(dur) {
                var interval = dur;
                if(interval != 'Other'){
                    document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.interval}').style.display = 'none';
                    document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.other}').style.display = 'none';
                }
                else {
                    document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.interval}').style.display = 'block';
                    document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.other}').style.display = 'block';
                }
                
            }
        </script>
        <apex:outputPanel layout="none" id="hiddenfld" >
            <apex:inputHidden value="{!rtid}" id="recordt"/>
        </apex:outputPanel>
        <apex:actionFunction action="{!readFields}" name="displayflds" rerender="inputsec" status="removeStatus"/>

        <apex:pageBlock title="{!$Label.specright__bidedit_access_inputs}" id="inputBlock">
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="{!$Label.specright__bidedit_supplier_selection_next_button}" action="{!goToStep2}"/>
                <apex:commandButton action="{!finishProcess}" value="Cancel"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection columns="2" id="inputsec" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.specright__bidedit_access_type_subtitle}" />
                    <apex:selectList id="p3" value="{!rtid}" size="1" onchange="setRT(this.value)" >
                        <apex:actionSupport event="onchange" action="{!dummy}" rerender="hiddenfld"/>
                        <apex:selectOptions value="{!lstaccessRT}"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:actionStatus id="removeStatus" >
                        <apex:facet name="start" >
                          &nbsp;<img src="/img/loading.gif" />                    
                        </apex:facet>
                </apex:actionStatus>
                <!--<apex:pageBlockSectionItem>
                    <apex:outputLabel></apex:outputLabel>
                </apex:pageBlockSectionItem>-->
                <apex:pageBlockSectionItem id="durationsec">
                    <apex:outputLabel value="{!$Label.specright__bidedit_access_duration}" />
                    <apex:selectList id="duration" size="1" value="{!duration}" onchange="checkotherinterval(this.value)" >
                        <apex:selectOption itemValue="0" itemLabel="--None--"/>
                        <apex:selectOption itemValue="1" itemLabel="1 Day"/>
                        <apex:selectOption itemValue="3" itemLabel="3 Days"/>
                        <apex:selectOption itemValue="7" itemLabel="7 Days"/>
                        <apex:selectOption itemValue="30" itemLabel="30 Days"/>
                        <apex:selectOption itemValue="365" itemLabel="One Year(365 Days)"/>
                        <apex:selectOption itemValue="Other" itemLabel="Other"/>
                    </apex:selectList>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="othersec">
                    <apex:outputLabel value="Other" id="other"/>
                    <apex:inputText value="{!otherinterval}" id="interval" onblur="setenddatedate(this.value)"/>
                </apex:pageBlockSectionItem>
                
                <apex:repeat value="{!lstAccessfld}" var="f">
                    <apex:pageBlockSectionItem >
                    <label>{!f.Label}</label>
                    <apex:inputField value="{!bidobj[f.fieldPath]}"/>
                    </apex:pageBlockSectionItem>
                </apex:repeat>
                <script type="text/javascript">
                    if(document.getElementById('{!$Component.theForm.inputBlock.inputsec.durationsec.duration}')!=null) {
                    var dur = document.getElementById('{!$Component.theForm.inputBlock.inputsec.durationsec.duration}').value;
                    if(dur != 'Other' && document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.interval}')!=null)
                        document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.interval}').style.display = 'none';
                        document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.other}').style.display = 'none'; 
                    }
                    else {
                        document.getElementById('{!$Component.theForm.inputBlock.inputsec.othersec.other}').style.display = 'block'; 
                    }  
                </script>
            </apex:pageBlockSection>
           
        </apex:pageBlock>
         <apex:pageBlock >
            <apex:pageBlockButtons location="top">
                <apex:commandButton value="{!$Label.specright__bidedit_supplier_selection_next_button}" action="{!goToStep2}"/>
                <apex:commandButton action="{!finishProcess}" value="Cancel"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
        </apex:form>
    </apex:tab>
   
    <apex:tab label="{!$Label.specright__bid_edit_step_2_title}" name="step2" id="tabTwo" disabled="{!disableTab2}"> <!-- ** Step 2: Upload Specifications ** -->
        <apex:form id="form1">  
        <apex:stylesheet value="{!$Resource.BidEditTab1CSS}"/>
        <table><tr><td width="50%" valign="top">
        <!-- <apex:pageBlock title="{!$Label.Bid_Edit_Search_Option"> <!-- ** Option to move to search here ** -->
        <apex:pageBlock title="Add Specifications - Search">
            <apex:pageBlockSection columns="1" >
            <!-- <Apex:commandButton value="{!$Label.Bid_Edit_Search_for_Specification}" action="{!goToStep3}"/>     <!-- ** Search for Specification ** -->        
            <Apex:commandButton value="Search" action="{!goToStep3}"/>
            </apex:pageBlockSection>
        </apex:pageBlock>
        </td><td width="50%" valign="top">
            <apex:pageBlock title="Add Specifications Using a Report" id="pb1" > <!-- ** Upload a CSV file with Specification ID's ** -->
                <!-- Get Spec from Report -->
                <apex:pageBlockSection columns="1">
                    <apex:outputLabel styleClass="bidEditOutputLabel">Search and select a Report to add Specifications to the Exchange. 
                        Make sure the Specification ID field is included in the Report.</apex:outputLabel>
                    <apex:pageBlockSectionItem rendered="{!selectedReportError}">
                        <apex:outputLabel >
                            <div class="errorMsg">
                                <strong>Error: </strong>
                                <apex:outputLabel value="{!reportErrorMessage}"></apex:outputLabel>
                            </div>
                        </apex:outputLabel>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="2" id="pbsec1">
                    <apex:inputText value="{!searchReport}" label="Search" ></apex:inputText>
                    <apex:commandButton value="Search" reRender="reportList"/>
                    <apex:selectRadio id="reportList" layout="pageDirection" value="{!selectedReport}" label="Report Name">
                        <apex:selectOptions value="{!selectedReportOption}"/>
                    </apex:selectRadio>
                    <apex:commandButton value="Upload" action="{!importReport}"/>
                    <!-- CSV Upload Section -->
					<!-- <apex:outputLabel styleClass="bidEditOutputLabel">{!$Label.Bid_Edit_Step_1_Description}</Apex:outputLabel> <!-- ** This uses a simple comma separated value file to pull in your Specifications for requesting a bid from your Suppliers ** & style="font-size:12px;"-->
                    <!-- <Apex:pageBlockSectionItem ></Apex:pageBlockSectionItem>
						<apex:outputLink styleClass="bidEditOutputLink" value="/servlet/servlet.FileDownload?file={!Docid}"> {!$Label.Bid_Edit_Download_File_Link} </apex:outputLink> <!--** Click here to download a sample file ** & style="color:#015ba7;font-size:12px;"-->
                    <!-- <Apex:pageBlockSectionItem ></Apex:pageBlockSectionItem>
						<Apex:pageBlockSectionItem ></Apex:pageBlockSectionItem>
						<Apex:pageBlockSectionItem ></Apex:pageBlockSectionItem>
						<apex:inputFile id="filebody" value="{!csvFileBody}"  filename="{!csvAsString}"/>
						<apex:commandButton value="{!$Label.Bid_Edit_Upload_Button}" action="{!importCSVFile}"/> <!-- ** Upload **-->
                </apex:pageBlockSection>
            </apex:pageBlock>        
        </td></tr></table>
        <script>
            /*function codeAddress() {
                var i = document.getElementById('{!$Component.pb1.hiddenSize}').value;
                alert(i);               
                console.log('hi');
                //if(i.length>2){
                    //clearBlob();
                //}
            }
            window.onload = codeAddress;*/
        </script>
    </apex:form>
    </apex:tab>
    <apex:tab label="{!$Label.specright__bid_edit_step_3_title}" name="step3" id="tabThree" disabled="{!disableTab3}"> <!-- ** Step 3: Select Specification ** -->
        <apex:include pageName="SpecificationSelection" />
    </apex:tab>
    
    <apex:tab label="{!$Label.specright__bid_edit_step_4_title}" name="step4" id="tabFour" disabled="{!disableTab4}"> <!-- ** Step 4: Select Suppliers ** -->
        <apex:include pageName="VendorSelection" />
    </apex:tab>
   <!-- <apex:tab label="{!$Label.specright__bid_edit_step_5_title}" name="step5" id="tabFive"> <!-- ** Step 5: Select Access Expiration Date ** -->
       <!-- <apex:form id="dateForm">
        <script type="text/javascript">
        function setenddatedate(int) {
            if(int > 730) {
                alert('{!$Label.BidEdit_Interval_Limit}');
            }
        }

        function checkotherinterval(dur) {
            var interval = dur;
            if(interval != 'Other'){
                document.getElementById('{!$Component.dateForm.dateblock.interval}').style.display = 'none';
            }
            else {
                document.getElementById('{!$Component.dateForm.dateblock.interval}').style.display = 'block';
            }
            
        }
        
        </script>
            <apex:actionFunction name="dummy" action="{!dummy}" reRender="interval" />
            <apex:pageBlock title="{!$Label.BidEdit_Access_Duration_Title}" id="dateblock">
                <table cellspacing="10">
                    <tr><td>{!$Label.specright__bidedit_access_duration}</td>
                            <td><apex:selectList id="duration" size="1" value="{!duration}" onchange="checkotherinterval(this.value)" >
                                <apex:selectOption itemValue="0" itemLabel="--None--"/>
                                <apex:selectOption itemValue="1" itemLabel="1 Day"/>
                                <apex:selectOption itemValue="3" itemLabel="3 Days"/>
                                <apex:selectOption itemValue="7" itemLabel="7 Days"/>
                                <apex:selectOption itemValue="30" itemLabel="30 Days"/>
                                <apex:selectOption itemValue="365" itemLabel="One Year(365 Days)"/>
                                <apex:selectOption itemValue="Other" itemLabel="Other"/>
                            </apex:selectList></td>
                        <td>
                        <apex:inputText value="{!otherinterval}" id="interval" onblur="setenddatedate(this.value)"/>
                        </td>
                        <script type="text/javascript">
                            if(document.getElementById('{!$Component.dateForm.dateblock.duration}')!=null) {
                            var dur = document.getElementById('{!$Component.dateForm.dateblock.duration}').value;
                            console.log(dur);
                            console.log(document.getElementById('{!$Component.dateForm.dateblock.interval}'));
                            if(dur != 'Other' && document.getElementById('{!$Component.dateForm.dateblock.interval}')!=null)
                                document.getElementById('{!$Component.dateForm.dateblock.interval}').style.display = 'none'; 
                            }  
                        </script>
                    </tr>
                </table>
                <apex:pageBlockButtons >
                    <apex:commandButton value="{!$Label.specright__bidedit_specificationselection_next}" action="{!goToStep6}"/> <!-- Next -->   
                <!-- </apex:pageBlockButtons>
            </apex:pageBlock>   
        </apex:form>
    </apex:tab> -->
    <apex:tab label="{!$Label.specright__bid_edit_step_5_title}" name="step5" id="tabFive" disabled="{!disableTab5}"> <!-- ** Step 5: Confirmation ** -->
        <apex:form >
            <apex:pageBlock title="{!IF(finishStep,$Label.specright__bid_edit_pageblock_title1, $Label.specright__bid_edit_pageblock_title2)}"> <!-- ** Success && 'Please confirm below' **-->
                <apex:outputLabel rendered="{!finishStep}">{!grpsuccessmsg1}</apex:outputLabel>
                <apex:outputLink styleClass="bidEditOutputLabel" value="{!groupId}" rendered="{!finishStep}">{!grpsuccessmsg2}
                </apex:outputLink>
                 <!-- ** Bid Request placed successfully ** & style="font-size:12px;" -->
                <apex:outputLabel styleClass="bidEditOutputLabel" rendered="{!NOT(finishStep)}" >{!$Label.specright__bid_request_confirmation_message_part_1} {!selectedSpecification.size} {!$Label.specright__bid_request_confirmation_message_part_2} </apex:outputLabel> <!-- style="font-size:12px;"  -->
                <!-- ** You have selected {!selectedSpecification.size} specification{!IF(selectedSpecification.size>1,"s","")} to share with following supplier{!IF(selectedVendor.size>1,"s","")}. This action will create a group where you can then invite suppliers to bid.** -->
                
               
                <apex:outputLabel styleClass="bidEditOutputLabel" rendered="{!NOT(finishStep)}" >{!$Label.specright__bid_request_confirmation_message_part_3}</apex:outputLabel><br/><br/>
                <apex:pageBlockTable value="{!selectedVendor}" var="vend" rendered="{!NOT(finishStep)}">
                    <apex:column headerValue="{!$Label.specright__bid_edit_supplier_name}"> <!--** Supplier Name ** -->
                    <apex:outputField value="{!vend.objVendor.Name}"/>
                    </apex:column>
                </apex:pageBlockTable><br/>
                <apex:outputLabel styleClass="bidEditOutputLabel" rendered="{!NOT(finishStep)}" >{!$Label.specright__bid_request_confirmation_message_part_4}</apex:outputLabel>
                <br/><br/><br/>
                <apex:commandButton value="{!$Label.specright__bid_edit_confirm_button}" action="{!confirm}" rendered="{!NOT(finishStep)}"/>&nbsp;&nbsp; <!--** Confirm ** -->
                <apex:commandButton value="{!$Label.specright__bid_edit_cancel_button}" action="{!cancel}" rendered="{!NOT(finishStep)}"/> <!-- ** Cancel **-->
                <apex:commandButton value="{!$Label.specright__bid_edit_finish_button}" action="{!finishProcess}" rendered="{!finishStep}"/>&nbsp;&nbsp; <!--** Finish **-->
                <apex:commandButton value="{!$Label.specright__bid_edit_finish_and_new}" action="{!finishAndNew}" rendered="{!finishStep}"/> <!-- ** Finish and New **-->
            </apex:pageBlock>
        </apex:form>
    </apex:tab>
</apex:tabPanel>
</apex:page>