<apex:page standardController="Outbound_Finished_Product__c" extensions="CustomOutboundFinishedProductCtlr" tabStyle="Outbound_Finished_Product__c" >
    <apex:sectionHeader title="Outbound Finished Product Edit" subtitle="{!outboundFinishedProductObj.Name}" rendered="{!outboundFinishedProductObj.id != null}"/>
    <apex:sectionHeader title="Outbound Finished Product" subtitle="New" rendered="{!outboundFinishedProductObj.id = null}"/>
    <apex:pageMessage severity="fatal" detail="{!pageMessage}" rendered="{!pageMessage != ''}" title="Error Saving Record"/>
    <apex:form id="theform">
      <apex:pageBlock title="Outbound Finished Product Edit">
          <apex:pageBlockButtons >
              <apex:commandButton value="Save" action="{!customSave}"/> 
              <apex:commandButton value="Save & New" action="{!customSaveAndNew}" rerender="theform"/> 
              <apex:commandButton value="Cancel" action="{!cancel}"/>
          </apex:pageBlockButtons>
          <apex:pageBlockSection title="Information" collapsible="false" columns="2" id="corrugated" rendered="{!selectedRecordType='Corrugated'}">
              <apex:outputField value="{!outboundFinishedProductObj.Name}" rendered="{!!ISNULL(outboundFinishedProductObj.id)}"/>
              <apex:outputField value="{!outboundFinishedProductObj.recordTypeId}"/>
              <apex:outputField value="{!outboundFinishedProductObjForId.ID__c}" rendered="{!!ISNULL(outboundFinishedProductObj.id)}"/>
              <apex:outputText value="" />
              <apex:repeat value="{!$ObjectType.Outbound_Finished_Product__c.FieldSets.Corrugated}" var="f">
                <apex:inputField value="{!outboundFinishedProductObj[f]}"/>  
              </apex:repeat> 
           </apex:pageBlockSection>
          <apex:pageBlockSection title="Information" collapsible="false" columns="2" id="flexible" rendered="{!selectedRecordType='Flexible'}">
              <apex:outputField value="{!outboundFinishedProductObj.Name}" rendered="{!!ISNULL(outboundFinishedProductObj.id)}"/>
              <apex:outputField value="{!outboundFinishedProductObj.recordTypeId}"/>
              <apex:outputField value="{!outboundFinishedProductObjForId.ID__c}" rendered="{!!ISNULL(outboundFinishedProductObj.id)}"/>
              <apex:outputText value="" />
              <apex:repeat value="{!$ObjectType.Outbound_Finished_Product__c.FieldSets.Flexible}" var="f">
                <apex:inputField value="{!outboundFinishedProductObj[f]}"/>  
              </apex:repeat>
           </apex:pageBlockSection>
          
        </apex:pageBlock>
    </apex:form> 
</apex:page>