<apex:page standardController="Specification__c">
    <c:CRelatedList Entity="specright__Embellishments__c" RelatedTo="{!Specification__c.id}" 
                    ObjectLabel="Embellishments" FieldSetName="specright__Embellishments" />
</apex:page>