<apex:page standardController="Specification__c">
  <c:CRelatedList Entity="specright__Layer_Material__c" RelatedTo="{!Specification__c.id}" 
      ObjectLabel="Layer Material" FieldSetName="specright__Materials" />
  <c:CRelatedList Entity="specright__Coatings__c" RelatedTo="{!Specification__c.id}" 
      ObjectLabel="Coatings" FieldSetName="specright__Coatings" />
  
  <c:CRelatedList Entity="specright__Embellishments__c" RelatedTo="{!Specification__c.id}" 
      ObjectLabel="Embellishments" FieldSetName="specright__Embellishments" />
</apex:page>